* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: linear-gradient(100deg, #1e1f29, #343650);
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
}

.container > h1 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin: 120px 0 100px 0;
}

@media (max-width: 700px) {
  .container > h1 {
    margin: 50px 0;
  }
}

.timer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

@media (max-width: 700px) {
  .timer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin-left: 20px;
}

.card:first-child {
  margin-left: 0;
}

.card div {
  background: #343650;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 3px #000;
          box-shadow: 0 0 10px 3px #000;
}

.card span {
  font-size: 8rem;
  color: #fb6087;
}

.card p {
  font-size: 1.8rem;
  color: #8486a9;
  margin-top: 15px;
}

@media (max-width: 700px) {
  .card {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.btn-modal {
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  color: #fff;
  font-size: 1.6rem;
  margin: 25px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-modal:hover {
  color: #fb6087;
}

@media (max-width: 700px) {
  .btn-modal {
    margin: 0 0 20px 0;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
}

.footer a {
  margin-left: 30px;
}

.footer a:first-child {
  margin-left: 0;
}

.modal-container {
  display: none;
}

.modal-container.show {
  background: rgba(30, 31, 41, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container.show .modal {
  position: relative;
  width: 500px;
  padding: 20px;
  background: #343650;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-container.show .modal h1 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.modal-container.show .modal label {
  font-size: 2.5rem;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.modal-container.show .modal input {
  padding: 10px;
  margin-bottom: 20px;
}

.modal-container.show .modal button {
  display: block;
  width: 200px;
  padding: 15px 0;
  text-transform: uppercase;
  background: #1e1f29;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal-container.show .modal button:hover {
  background: #fb6087;
}
/*# sourceMappingURL=style.css.map */