$gravish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$white: #fff;
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$m-device:700px;

@mixin font($size) {
    @if $size == 25 {
        font-size: 2.5rem;
        color: $white;
    } @else if $size == 80 {
        font-size: 8rem;
        color: $soft-red;
    } @else if $size == 18 {
        font-size: 1.8rem;
        color: $gravish-blue;
    }
}
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dimensions ($size) {
    @if $size == mobile {
        @media (max-width: $m-device) {
            @content;
        }
    }
}